@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}
a{
  text-decoration: none;
  color: black;
}
header{
  position: sticky;
  z-index: 30;
  top: 0;
}
nav{
  display: flex;
  padding: 16px;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f1f1;
}
.nav__menu-bar{
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  cursor: pointer;
}
.nav__menu-bar div{
  width: 40px;
  height: 4px;
  background-color: rgb(0, 0, 0);
  border-radius: 2px;
}
.nav__menu-list{
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 60px;
  width: 288px;
  row-gap: 24px;
  right: -288px;
  padding: 24px 16px;
  transition: all 0.2s;
  min-height: calc(100vh - 60px);
  background-color: #f1f1f1;
}
.nav__menu-list.active{
  right: 0;
}
.nav__link{
  font-size: 18px; 
  position: relative;
  transition: all 0.2s;
}

.nav__link:hover{
 font-weight: bold;
}

.center{
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-service{
  color:rgb(208, 208, 208);
}
@media screen and (min-width: 768px) {
  .nav__menu-bar{
    display: none;
  }
  .nav__menu-list{
    position: unset;
    flex-direction: row;
    min-height: fit-content;
    width: fit-content;
    column-gap: 24px;
    align-items: center;
  }
  .nav__link::before{
    content: '';
    position: absolute;
    width: 0%;
    height: 6px;
    bottom: -16px;
    left: 0;
    background-color: black;
    transition: all 0.2s;
  }
  
  .nav__link:hover:before{
   width: 100%;
  }
}

.hero-content p{
  color: rgb(208, 208, 208);
}

.hero-content h1{
  color: rgb(208, 208, 208);
}



.logo {
  font-size: 25px;
}

.contact-info {
  display: flex;
  justify-content: center;
}

.form-control {
  margin-right: 5px;
}

.textarea {
  width: 375px;
  height: 100px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  
  .textarea{
    width: 200px;
  }
  .contact-info{
    display: flex;
    flex-direction: column;
  }

  .footer{
    padding: 40px !important;
  }

  .flex{
    margin-top: 175px;
  }

  .text-center{
    margin-top: 100px;
  }
}

.contact-modal {
  height: 600px;
}

.services-section {
  text-align: left;
  padding: 15px;
  display: flex;
  width: 800px;
}

.services-description{
  margin-top: 3rem;
}

.services {
  display: flex !important;
  flex-direction: column !important;
  flex-wrap: wrap;
  min-width: fit-content !important;
}

.price-calculator {
  margin-top: 15px;
  margin-bottom: 15px;
}

.text2xl{
  font-family: 'Work Sans', sans-serif;
}

.final-price{
  margin-left: -20px;
}

.services-main{
  margin-top: -150px !important;
}

.gitlogo {
  color: white !important;
}

.min-h-screen{
  margin-top: -180px;
}

.label-text{
  color: black;
}

.label-text-alt{
  color: black;
}

.extra-text{
  color: white;
}

.radio{
  border-color: white;
}

.service-list-text{
  color: rgb(208, 208, 208)
}

.hero-content{
  max-width: 300px;
}
.hero{
}
.logo{
  display: flex !important;
  flex-direction: row !important;
}
